header {
  padding-top: 30px;
}

header h1 {
  margin: 0 0 20px;
  font-size: 2.5em;
  text-align: center;
}

header img {
  max-width: 100%;
}

header ul {
  margin-left: -10px;
  font-size: 1.5em;
}

@media (min-width: 600px) {
  header {
    padding-top: 50px;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "img title"
      "img subtitle";
    justify-items: center;
  }
  header img {
    grid-area: img;
  }
  header h1 {
    grid-area: title;
    font-size: 4em;
    margin: 0;
  }
  header ul {
    grid-area: subtitle;
    font-size: 2em;
  }
}
