@media (min-width: 700px) {
  /* 2-skill medium layout */
  section.skill-x2 {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "title title"
      "sub1 sub2";
  }

  /* 3-skill medium layout */
  section.skill-x3 {
    grid-template-columns: 33.33% 33.3% 33.33%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "title title title"
      "sub1 sub2 sub3";
  }

  section.skill {
    align-items: start;
  }
}

@media (min-width: 1000px) {
  /* 2-skill large layout */
  section.skill-x2 {
    grid-template-columns: 300px 50fr 50fr;
    grid-template-rows: auto;
    grid-template-areas: "title sub1 sub2";
  }
  /* 3-skill large layout */
  section.skill-x3 {
    grid-template-columns: 300px 33fr 33fr 33fr;
    grid-template-rows: auto;
    grid-template-areas: "title sub1 sub2 sub3";
  }
}

section.skill {
  padding: 30px 20px;
}

section.skill h2 {
  grid-area: title;
  text-align: center;
  line-height: 1.5;
}

section.skill div {
  text-align: center;
}

section.skill p {
  font-size: 1.2em;
  line-height: 1.2;
  font-weight: lighter;
}

/* Colours of each skill section */
#skills>div:nth-of-type(1) {
  color: white;
  background-color: #53d95c50;
}

#skills>div:nth-of-type(2) {
  color: white;
  background-color: #00dcff50;
}

#skills>div:nth-of-type(3) {
  color: white;
  background-color: #ec26ec50;
}

#skills>div:nth-of-type(4) {
  color: white;
  background-color: #e6e41e50;
}
