@import 'appearance';

form {
  padding: 5px;
}

form > div {
  margin-bottom: 5px;
}

label {
  margin-right: 10px;
}

input[type='submit'] {
  cursor: pointer;
  background-color: $light-brown;
  width: 80px;
  border: 2px solid $dark-brown;
}
