$dark-grey: #272727;
$light-grey: #a0a0a0;
$dark-brown: #744e39;
$light-brown: #d9aa80;
$dark-blue: #7c91a5;
$light-blue: #e6eef9;

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $light-blue;
}

header, footer {
  background-color: $dark-blue;
}

main {
  background-color: white;
  color: $dark-grey;
}

hr {
  border: 0;
  height: 1px;
  background-color: $light-grey;
}

main p > a {
  color: $dark-brown;
}

main p > a:visited {
  color: $light-brown;
}

#heading {
  font-size: 2em;
}

h1, .h1 {
  font-size: 1.7em;
}

h2, .h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3, .h3 {
  font-size: 1.17em;
  font-weight: bold;
}

h1 > a, footer a {
  color: inherit;
}

time {
  font-size: 0.8em;
}

p, .p {
  font-size: 1em;
}

.error {
  color: red;
}

.underline-hover-only {
  text-decoration: none;
}

.underline-hover-only:hover {
  text-decoration: underline;
}
