$grey: #272727;
$dark-brown: #745138;
$light-brown: #D9AA80;
$dark-blue: #7C91A5;
$light-blue: #DDE5F0;

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $dark-blue;
}

main {
  background-color: $light-blue;
  color: $grey;
  box-shadow: 0 0 25px 5px $grey;
}

a {
  color: inherit;
}

#heading {
  font-size: 2em;
}

h1, .h1 {
  font-size: 1.7em;
}

h2, .h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3, .h3 {
  font-size: 1.17em;
  font-weight: bold;
}

time {
  font-size: 0.8em;
}

p, .p {
  font-size: 1em;
}

.error {
  color: red;
}

.underline-hover-only {
  text-decoration: none;
}

.underline-hover-only:hover {
  text-decoration: underline;
}
