$footer_height: 60px;

html, body, main {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  @media (min-width: 1000px) {
    width: 1000px;
    margin: 0 auto;
  }
}

#heading {
  margin: 10px 0 0;
}

#sub_heading {
  margin: 0;
  padding: 0 0 10px 30px;
}

h1, .h1 {
  margin-top: 5px;
  margin-bottom: 0;
  display: inline-block;
}

main {
  padding-top: 10px;
  padding-bottom: $footer_height;
}

time {
  margin-left: 10px;
}

footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: $footer_height;
  margin-top: -$footer_height;
}
