@import 'appearance';
$footer_height: 60px;

html, body, main {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  @media (min-width: 1000px) {
    width: 1000px;
    margin: 0 auto;
  }
}

#heading {
  margin: 10px 0 0;
}

#sub_heading {
  margin: 0;
  padding: 0 0 10px 30px;
}

h1, .h1 {
  margin-top: 5px;
  margin-bottom: 0;
  display: inline-block;
}

main {
  padding-top: 10px;
  padding-bottom: $footer_height;
}

$profile_width: 300px;

form #profile_text {
  width: $profile_width;
}

#profile_box {
  float: right;
  max-width: $profile_width;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid $dark-grey;
}

#profile_box > img {
  float: right;
  width: 150px;
  height: 200px;
}

#edit-link {
  float: right;
  margin-top: 20px;
}

time {
  margin-left: 10px;
}

pre > code {
  display: block;
  padding: 5px;
  margin: 20px;
}

footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: $footer_height;
  margin-top: -$footer_height;
}
