@import 'forms';

form {
  margin-top: 30px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid $dark-brown;
  text-align: center;
}

input[type='submit'] {
  margin-top: 5px;
}
