/* Colours */
:root {
  --grey-2: hsl(0, 0%, 80%);
  --grey-3: hsl(0, 0%, 60%);
  /* There's also a different grey used in the background image fill */
}

section:nth-child(2) h2,
section:nth-child(2) h3,
section:nth-child(2) a {
  color: hsl(180, 30%, 50%);
}

section:nth-child(3) h2,
section:nth-child(3) h3,
section:nth-child(3) a {
  color: hsl(100, 35%, 55%);
}

section:nth-child(4) h2,
section:nth-child(4) h3,
section:nth-child(4) a {
  color: hsl(280, 50%, 65%);
}

section:nth-child(5) h2,
section:nth-child(5) h3,
section:nth-child(5) a {
  color: hsl(0, 40%, 55%);
}
