/* Overall layout stuff */
body, main, #heading {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

@media (min-width: 800px) {
    main {
        width: 800px;
        border: 1px solid grey;
        margin: 10px auto;
    }
}

main {
    padding: 5px;
}

/* General appearance stuff, with classes matching tags.
 This allows e.g. form elements to match h2 or p elements */
body {
    font-family: helvetica, sans-serif;
}

#heading {
    margin: 10px;
    font-size: 2em;
}

h1, .h1 {
    margin-bottom: 8px;
    font-size: 1.5em;
    font-weight: bold;
}

p, .p {
    font-size: 1em;
}

/* Nav bar */
nav ol {
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid dimgrey;
    padding-left: 0;
}

nav li {
    display: inline;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    border-right: 1px solid dimgrey;
}

nav a:visited {
    color: inherit;
}

nav a:hover
{
    background-color: dimgrey;
    color: white;
}

/* Form layout */
form {
    padding: 5px;
}

input[type='text'] {
    width: 50%;
}

input[type='submit'] {
    width: 80px;
}

textarea {
    width: 100%;
    margin-top: 5px;
}
