@import 'appearance';

form {
  padding: 5px;
}

form > div {
  margin-bottom: 5px;
}

label.h2 {
  margin-right: 10px;
}

label[for='slug'] {
  margin-left: 30px;
}

textarea {
  width: 100%;
  margin-top: 5px;
}

input[type='submit'] {
  cursor: pointer;
  background-color: $light-brown;
  width: 80px;
  border: 2px solid $dark-brown;
}
