/* Form layout */
form {
    padding: 5px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0 0 0 5px;
}

input[name='title'] {
    width: 50%;
}

textarea {
    width: 100%;
    margin-top: 5px;
}

input[type='submit'] {
    width: 80px;
}
