doctype html
html
  head
    title= config.title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans', type='text/css')
    link(rel='stylesheet', href='/style/layout.css', type='text/css')
    link(rel='stylesheet', href='/style/appearance.css', type='text/css')
    link(rel='stylesheet', href='/style/nav.css', type='text/css')
    block style
    link(rel='shortcut icon', href='/favicon.ico')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    main
      header
        h1#heading= config.heading
        nav
          ol
            li: a(href='/', class='nav-left') Home
            if user
              li: a(href='/write', class='nav-left') New Post
              li: a(href='#', class='nav-right', onclick='document.getElementById("logout-form").submit();') Log Out
              li: a(href='/profile', class='nav-right') Profile
              li: a(href='/settings', class='nav-right') Settings
            else
              li: a(href='/login', class='nav-right') Log In
        form(id='logout-form', action='/logout', method='post')
      section
        block content
      footer
        hr
        p Powered by <a href='http://github.com/camjackson/writeitdown'>writeitdown</a>
