extends ./base
block style
  link(rel='stylesheet', href='/style/settings.css', type='text/css')
block content
  h3= 'Welcome, ' + user.username + '!'
  form(method='post', action='/user/'+user.username)
    input(type='hidden', name='_method', value='PUT')
    div
      label(for='username', class='p') Username:
      input(type='text', class='p', id='username', name='username', value=user.username)
    div
      label(for='password', class='p') Password:
      input(type='password', class='p', id='password', name='password')
    div
      label(for='confirm-password', class='p') Confirm Password:
      input(type='password', class='p', id='confirm-password', name='confirmPassword')
    input(type='submit', class='p')
    p(class='error')= errorMessage
