extends ./base

block content
  form(method='post', action='/posts/')
    input(type='hidden', name='_method', value='PUT')
    input(type='text', class='h1', name='title', placeholder='Title')
    fieldset
      label=config.domain
      input(type='text', class='p', name='slug', placeholder='slug')
    textarea(name='text', class='p', placeholder='Write some markdown!', rows='20')
    input(type='submit', class='p', value='Post')
