extends ./base
block style
  link(rel='stylesheet', href='/style/write.css', type='text/css')
block content
  form(method='post', action='/posts/')
    input(type='hidden', name='_method', value='PUT')
    label(for='title', class='h1') Post title:
    input(type='text', class='h1', id='title', name='title', placeholder='Title')
    fieldset
      label(style='p')=config.domain + '/'
      input(type='text', class='p', name='slug', placeholder='slug')
    label(for='text', class='h1') Post Body:
    textarea(id='text', name='text', class='p', placeholder='Write some markdown!', rows='20')
    input(type='submit', class='p', value='Post')
