extends ./base.jade

block content
  form
    input(type='text', class='h1', name='title', placeholder='Title')
    textarea(name='text', class='p', placeholder='Contents', rows='20')
    input(type='submit', class='p', value='Post')
