body {
  padding-top: 50px;
  font-size: 1.5em;
}

#container {
  min-height: 100%;
  position: relative;
}

main {
  padding-bottom: 70px;
}

footer .navbar {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar .fa {
  margin-top: -6px;
}

#skill-panel-row {
  margin-top: 20px;
}

.skill-panel {
  min-height: 220px;
}

@media (max-width: 767px) {
  .skill-panel {
    height: 25%;
  }
}

@media (min-width: 768px) {
  .skill-panel {
    height: 20%;
  }
}

@media (min-width: 992px) {
  .skill-panel {
    height: 35%;
  }
}

@media (min-width: 1200px) {
  .skill-panel {
    height: 25%;
  }
}

.panel {
  height: 90%;
}

.latest-posts h1 {
  margin-bottom: 20px;
}

.latest-posts h3 {
  display: inline;
}

.latest-posts time {
  margin-top: 6px;
}

.post h1 {
  display: inline-block;
  margin-bottom: 0;
}

.post time {
  margin-top: 40px;
}

h1 a, h1 a:hover, h1 a:focus, h3 a, h3 a:hover, h3 a:focus {
  color: black;
}

.post-preview {
  padding-top: 10px;
}

.post-preview h3 {
  font-size: 18px;
}

blockquote {
  font-style: italic;
}

pre {
  color: #BABABA;
  background-color: #2B2B2B;
}
