body {
  padding-top: 50px;
  font-size: 1.5em;
}

.navbar-static-bottom {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar .fa {
  margin-top: -6px;
}

#skill-panel-row {
  margin-top: 20px;
}

.skill-panel {
  min-height: 220px;
}

@media (max-width: 767px) {
  .skill-panel {
    height: 25%;
  }
}

@media (min-width: 768px) {
  .skill-panel {
    height: 20%;
  }
}

@media (min-width: 992px) {
  .skill-panel {
    height: 35%;
  }
}

@media (min-width: 1200px) {
  .skill-panel {
    height: 25%;
  }
}

.panel {
  height: 90%;
}

.postPreview h3 {
  display: inline;
}

.postPreview time {
  margin-top: 6px;
}

.post h1 {
  display: inline-block;
  margin-bottom: 0;
}

.post time {
  margin-top: 40px;
}

h3 a {
  color: black;
}

h3 a:hover, h3 a:focus {
  color: black;
}

blockquote {
  font-style: italic;
}

pre {
  color: #BABABA;
  background-color: #2B2B2B;
}
