/* Global stuff */

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}
html {
  /* 1em = 10px (assuming browser has font-size: 16px; ) */
  font-size: 62.5%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: hsl(120, 3%, 12%);
  color: hsl(0, 0%, 80%);
}

header, main {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
}

/* Reusable layout stuff */
.column-or-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 43.75em) { /* 700px / 16 */
  .column-or-grid {
    display: grid;
  }
}

.panel {
  margin: 0 2rem 5rem;
  padding: 2.5rem 2rem;
  border: 1px solid hsl(0, 0%, 80%);
  background-color: hsl(120, 3%, 16%);
  border-radius: 0.3rem;
}

.panel:nth-child(1) {
  color: hsl(180, 30%, 50%);
  border-color: hsl(180, 30%, 50%);
}

.panel:nth-child(2) {
  color: hsl(100, 35%, 55%);
  border-color: hsl(100, 35%, 55%);
}

.panel:nth-child(3) {
  color: hsl(280, 45%, 60%);
  border-color: hsl(280, 45%, 60%);
}

.panel:nth-child(4) {
  color: hsl(0, 40%, 55%);
  border-color: hsl(0, 40%, 55%);
}

/* Typography */

h2 {
  margin: 0;
  text-align: center;
  font-size: 2.6rem;
  line-height: 1.5;
}

a, a:visited {
  color: inherit;
}

p {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: lighter;
}
