@media (min-width: 62.5em) { /* 1000px / 16 */
  /* large layout */
  section#writing {
    grid-template-columns: 30rem 100fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "title p1"
    "title p2";
  }

  section#writing h2 {
    grid-area: title;
  }
}

section#writing p {
  padding: 0 3rem;
}
