doctype html
html
  head
    title= config.title
    include includes
    block page_style
    block page_script
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    include header
    main#main.column
      block page_content
    include footer
