footer
  .column
    p Powered by <a href='http://github.com/camjackson/writeitdown'>writeitdown</a>
    nav
      ol
        if user
          li: a(href='/write') New Post
          li: a(href='/profile') Profile
          li: a(href='/settings') Settings
          li: a(href='#', onclick='document.getElementById("logout-form").submit();') Log Out
        else
          li: a(href='/login') Log In
    form(id='logout-form', action='/logout', method='post')
