footer
  .column
    p <a href='http://github.com/camjackson/camjackson.net'>Source available on github</a>
    nav
      ol
        if user
          li: a(href='/write') New Post
          li: a(href='#', onclick='document.getElementById("logout-form").submit();') Log Out
        else
          li: a(href='/login') Log In
    form(id='logout-form', action='/logout', method='post')
