link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans', type='text/css')
link(rel='stylesheet', href='/style/layout.css', type='text/css')
link(rel='stylesheet', href='/style/appearance.css', type='text/css')
link(rel='stylesheet', href='/style/nav.css', type='text/css')
