extends ../common/base

block page_content
  if profile
    #about_box
      img(src=profile.image)
      != marked(profile.text)
  each post in posts
    article
      h1: a(href='/post/'+post.slug, class='underline-hover-only')= post.title
      time(pubdate): em= moment(post.posted).format('Do MMMM YYYY')
      hr
      != marked(post.text)
