extends ../common/base

block page_content
  if profile && (profile.text || profile.image)
    #profile_box
      if profile.image
        img(src=profile.image)
      != marked(profile.text)
  each post in posts
    article
      h1: a(href='/post/'+post.slug, class='underline-hover-only')= post.title
      time(pubdate): em= moment(post.posted).format('Do MMMM YYYY')
      hr
      #article_body
        != marked(post.text)
