extends ../common/base
block page_style
  link(rel='stylesheet', href='/style/login.css', type='text/css')
block page_content
  form(method='post', action='/login/')
    div: label(for='username', class='p') Username:
    div: input(type='text', class='p', id='username', name='username')
    div: label(for='password', class='p') Password:
    div: input(type='password', class='p', id='password', name='password')
    div: input(type='submit', class='p', value='Log In')
  p(class='error')= errorMessage
