extends ../common/base

block page_content
  article
    h1= post.title
    time(pubdate): em= moment(post.posted).format('Do MMMM YYYY')
    if user
      a(id='edit-link', href='/write?post=' + post.slug ) Edit this post...
    hr
    #article_body
      != marked(post.text)
