extends ../common/base
block page_style
  link(rel='stylesheet', href='/style/write.css', type='text/css')
block page_script
  script(type='text/javascript', src='script/marked.min.js')
  script(type='text/javascript', src='script/write.js')
block page_content
  form(method='post', action='/posts/')
    input(type='hidden', name='_method', value='PUT')
    div
      label(for='title', class='h2') Post title:
      input(type='text', class='h2', id='title', name='title', value=postTitle, onkeyup='updatePreview();')
    div
      label(for='slug', class='p')=config.domain + '/'
      input(type='text', class='p', id='slug', name='slug', placeholder='slug', value=postSlug, readonly=''+Boolean(postSlug))
    div
      label(for='text', class='h3') Post Body:
      textarea(id='text', name='text', class='p', rows='20' onkeyup='updatePreview();')=postText
    div(id='preview')
    input(type='submit', class='p', value='Post')
